.DianPing-User {
  min-height: calc(100% - 49px - 0.5rem);
  background-image: linear-gradient(rgb(255, 102, 51), white);
  padding: 0.5rem 0.5rem 49px;
}
.DianPing-User .adm-list-item-content-main {
  border: none;
}
.user-base {
  margin-top: 1rem;
}
.DianPing-User .user-colList {
  padding: 1rem 0.5rem;
  background-color: #fafafa;
}
.DianPing-User .user-colList .card-list-item .adm-list-item-content-main {
  padding-top: 0;
}
