.route-spinloading {
  position: absolute;
  /* height: 100vh; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.demo-App {
  height: 100%;
}
/* 页面初始化高度 */
.init-body {
  padding-bottom: 49px;
  min-height: calc(100% - 99px);
}
/* antd特殊列表css修改 */
.web-special .adm-list-item-content-main {
  border-bottom: 1px solid #ccc;
}
