.home-nav {
  background-color: #fff;
}
.nav-list {
  color: black;
  text-align: center;
}
.nav-list-content {
  font-size: 0.4rem;
  line-height: 1.9rem;
}
.adm-swiper-track-inner {
  height: var(--custom-heigth);
  transition: height 200ms linear;
}
